@tailwind base;
@tailwind components;
@tailwind utilities;

.head{
  background: url('./space.jpg');
  background-size:cover;
}

#orbit {
  position: relative;
  height:100%;
}

.res{
  color:white;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction:reverse;
}

#earth {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: url("https://i.postimg.cc/d0bNh1pn/stylized-earth-01.jpg");
  background-size: cover;
  background-position: center;
  background-color: #0c55ad;
  box-shadow: inset -20px 20px 40px rgba(235, 225, 52, 0.3),
    inset 20px -20px 40px rgba(2, 16, 31, 0.5),
    inset 10px -10px 10px rgba(2, 16, 31, 0.5);
  transform-style: preserve-3d;
  transform: translate(-50%, -50%);
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(100% - 200px) 0;
  }
}

#spin {
  position: absolute;
  top:50%;
  left:50%;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#line{
  position:absolute;
  background-color:blue;
  width:2px;
  height:70%;
  top:5%;
  left:5%;
  transform-origin:top center;
  transform:rotate(-45deg);
}

#lineinfo{
  position:absolute;
  top:20%;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction:reverse;

}


@keyframes spin {
    
  from {
    transform:translate(-50%,-50%) rotate(0deg);
  }
  to {
    transform:translate(-50%,-50%) rotate(360deg);
  }
}
